@import "../../scss/common.styles.scss";

.aboutContainer {
    @extend .bodyContainer;
    color: $main-2;
    background: $main-4;
    .cardSetContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin: 30px 0;
    }
    .contentContainer {
        padding: 0 30px 30px 30px;
        font-size: $font-size-xl;
    }
}