@import "../../scss/common.styles.scss";

.homeContainer {
    @extend .bodyContainer;
    background: $main-4;
    overflow: hidden;
    .headerContainer {
        .headerLabels {
            color: $harvard-red;
            text-align: center;
            animation: fade 5s infinite ease;
        }
        @keyframes fade {
            0%, 100% { opacity: 0; };
            50% { opacity: 1; }
        }
        .photoGalleryCarousel {
            position: relative;
            display: flex;
            width: 100%;
            .photoGalleryLeftSide {
                position: absolute;
                width: calc(50% - 350px);
                height: 500px;
                background: $main-1;
                opacity: .6;
                z-index: 100;
            }
            .photoGalleryWindow {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 700px;
                height: 500px;
                left: calc(50% - 350px);
                .arrowLeftIcon {
                    position: absolute;
                    width: 45px;
                    height: 45px;
                    left: -60px;
                    top: calc(50% - 22.5px);
                    background: white;
                    border-radius: 50%;
                    box-shadow: $shadow;
                    z-index: 1000;
                }
                .arrowLeftIcon:hover {
                    cursor: pointer;
                }
                .photoRow {
                    display: flex;
                    transform-style: preserve-3d;
                    transition: all 1s;
                    .photo {
                        width: 700px;
                        height: 500px;
                    }
                }
                .arrowRightIcon {
                    @extend .arrowLeftIcon;
                    left: initial;
                    right: -60px;
                }
            }
            .photoGalleryWindowBorder {
                position: absolute;
                width: 700px;
                height: 500px;
                left: calc(50% - 350px);
                border: 2px solid $harvard-red;
            }
            .photoGalleryRightSide {
                @extend .photoGalleryLeftSide;
                right: 0;
            }
        }
    }
    .bodyContainer {
        margin-top: 500px;
        text-align: center;
    }
    .footerNavContainer {
        margin-top: 50px;
    }
}