@import "../../../scss/common.styles.scss";

.helpContainer {
    @extend .bodyContainer;
    .helpContentContainer {
        padding: 30px;
        .aboutContentContainer {
            h2 {
                margin: 0;
            }
            .contactLinkContainer {
                margin-bottom: 18.72px;
            }
        }
        .webDesignContentContainer {
            @extend .aboutContentContainer;
        }
        .signatureContainer {
            margin-top: 18.72px;
            p {
                margin: 0;
            }
        }
    }
}