@import "../../../scss/common.styles.scss";

.literatureContainer {
    width: 100%;
    height: 100%;
    padding: 20px;
    .literatureHeader {
        margin: 0;
    }
    .recommendedList {
        width: 100%;
        height: 400px;
        margin-top: 20px;
        background: white;
        border-radius: 5px;
        box-shadow: $shadow;
        list-style: none;
        overflow: scroll;
        .recommendedLink {
            .recommendedLi {
                display: flex;
                justify-content: space-between;
                padding: 20px;
                background: $main-1;
                color: $harvard-red;
                transition: background .5s;
            }
            .recommendedLi:hover {
                cursor: pointer;
                background: $harvard-red;
                color: $main-1;
                transition: background .5s;
            }
        }
    }
}