// colors:

$main-1: #fff;
$main-2: #c90016;
$main-3: #ffd700;

// font-size:

$font-size-xxl: 24px;
$font-size-xl: 20px;
$font-size-l: 18px;
$font-size-medium: 16px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-xs: 10px;

// box-shadow:

$shadow: #00000029 0px 1px 6px;