// colors:

$main-1: #fff;
$main-2: #000000;
$main-3: #ffd700;
$main-4: #d3d3d3;
$harvard-red: #c90016;
$emory-blue: #012169;
$emory-yellow: #f2a900;

// font-size:

$font-size-xxl: 24px;
$font-size-xl: 20px;
$font-size-l: 18px;
$font-size-medium: 16px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-xs: 10px;

// box-shadow:

$shadow: #00000029 0px 1px 6px;