// colors:

$main-1: #fff;
$main-2: #000000;
$main-3: #ffd700;
$main-4: #d3d3d3;
$error-red: #ff0000;
$harvard-red: #c90016;
$harvard-red-low-opacity: #c900178a;
$emory-blue: #012169;
$emory-yellow: #f2a900;
$manila: #ecc975;
$manila-low-opacity: rgba(236, 201, 117, .6);
$hyperlink-blue: #0000EE;
$visited-purple: #551A8B;

// font-sizes:

$font-size-xxl: 24px;
$font-size-xl: 20px;
$font-size-l: 18px;
$font-size-medium: 16px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-xs: 10px;

// box-shadows:

$shadow: 0px 1px 6px #00000029;