@import "../../../../scss/common.styles.scss";

.profileCardContainer {
    width: 300px;
    height: 450px;
    margin: 20px;
    padding: 10px;
    background: $harvard-red;
    color: $main-1;
    font-size: $font-size-normal + 2;
    border-radius: 10px;
    line-height: 1.5;
    list-style: none;
    text-align: center;
    .profileIcon {
        width: 150px;
        height: 150px;
        margin: 10px auto;
        border-radius: 50%;
    }
    .fullNameLabel {
        color: $main-1;
        font-size: $font-size-xxl;
    }
    label {
        color: $main-3;
    }
    ul {
        list-style: none;
    }
}